In [0]:
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Electronics_5.json.gz

--2019-06-20 12:02:13--  http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Electronics_5.json.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 495854086 (473M) [application/x-gzip]
Saving to: ‘reviews_Electronics_5.json.gz’

reviews_Electronics 100%[===================>] 472.88M  3.52MB/s    in 1m 52s

2019-06-20 12:04:06 (4.21 MB/s) - ‘reviews_Electronics_5.json.gz’ saved [495854086/495854086]

In [0]:
!ls

reviews_Electronics_5.json.gz  sample_data

In [0]:
import pandas as pd
import os
fn = 'reviews_Electronics_5.json.gz'
print(os.path.isfile(fn))
df = pd.read_json(fn, lines=True, compression='gzip')
df.head()

True

         asin   helpful  ...                                 summary unixReviewTime
0  0528881469    [0, 0]  ...                         Gotta have GPS!     1370131200
1  0528881469  [12, 15]  ...                       Very Disappointed     1290643200
2  0528881469  [43, 45]  ...                          1st impression     1283990400
3  0528881469   [9, 10]  ...                 Great grafics, POOR GPS     1290556800
4  0528881469    [0, 0]  ...  Major issues, only excuses for support     1317254400

[5 rows x 9 columns]

In [0]:
#file_name = ElectronicsProductReviewCSV.csv
data = df.to_csv('ElectronicsProductReviewCSV.csv')
'''from google.colab import files
files.download('ElectronicsProductReviewCSV.csv') '''

"from google.colab import files\nfiles.download('ElectronicsProductReviewCSV.csv') "

In [0]:
dataset = pd.read_csv('ElectronicsProductReviewCSV.csv')

In [0]:
dataset.head()

   Unnamed: 0  ... unixReviewTime
0           0  ...     1370131200
1           1  ...     1290643200
2           2  ...     1283990400
3           3  ...     1290556800
4           4  ...     1317254400

[5 rows x 10 columns]

In [0]:
dataset.shape

(1689188, 10)

In [0]:
dataset = dataset.dropna()

In [0]:
print("No of NaN values in asin columns")
dataset['asin'].isnull().sum(axis = 0)

No of NaN values in asin columns

0

In [0]:
print("No of NaN values in helpful columns")
dataset['helpful'].isnull().sum(axis = 0)

No of NaN values in helpful columns

0

In [0]:
print("No of NaN values in overall columns")
dataset['overall'].isnull().sum(axis = 0)

No of NaN values in overall columns

0

In [0]:
print("No of NaN values in reviewText columns")
dataset['reviewText'].isnull().sum(axis = 0)

No of NaN values in reviewText columns

0

In [0]:
print("No of NaN values in reviewTime columns")
dataset['reviewTime'].isnull().sum(axis = 0)

No of NaN values in reviewTime columns

0

In [0]:
print("No of NaN values in reviewerID columns")
dataset['reviewerID'].isnull().sum(axis = 0)

No of NaN values in reviewerID columns

0

In [0]:
print("No of NaN values in reviewTime columns")
dataset['reviewTime'].isnull().sum(axis = 0)

No of NaN values in reviewTime columns

0

In [0]:
print("No of NaN values in reviewerName columns")
dataset['reviewerName'].isnull().sum(axis = 0)

No of NaN values in reviewerName columns

0

In [0]:
print("No of NaN values in summary columns")
dataset['summary'].isnull().sum(axis = 0)

No of NaN values in summary columns

0

In [0]:
print("No of NaN values in unixReviewTime columns")
dataset['unixReviewTime'].isnull().sum(axis = 0)

No of NaN values in unixReviewTime columns

0

In [0]:
dataset[['helpulobtained','totalhelpfulscore']] = pd.DataFrame(dataset['helpful'].str.split().values.tolist())

In [0]:
dataset.head()

   Unnamed: 0        asin  ... helpulobtained  totalhelpfulscore
0           0  0528881469  ...            [0,                 0]
1           1  0528881469  ...           [12,                15]
2           2  0528881469  ...           [43,                45]
3           3  0528881469  ...            [9,                10]
4           4  0528881469  ...            [0,                 0]

[5 rows x 12 columns]

In [0]:
dataset["helpfulobtained"] = dataset['helpulobtained'].str.replace('[^\w\s]','')

In [0]:
dataset["totalhelpfulScore"] = dataset['totalhelpfulscore'].str.replace('[^\w\s]','')

In [0]:
dataset = dataset.drop(['helpulobtained', 'totalhelpfulscore'], axis=1)

In [0]:
dataset['helpfulobtained'] = pd.to_numeric(dataset['helpfulobtained'], errors='coerce')
dataset = dataset.dropna(subset=['helpfulobtained'])
dataset['helpfulobtained'] = dataset['helpfulobtained'].astype(int)

In [0]:
dataset['totalhelpfulScore'] = pd.to_numeric(dataset['totalhelpfulScore'], errors='coerce')
dataset = dataset.dropna(subset=['totalhelpfulScore'])
dataset['totalhelpfulScore'] = dataset['totalhelpfulScore'].astype(int)

In [0]:
dataset['Helpfulfactor'] = dataset['helpfulobtained']/dataset['totalhelpfulScore']

In [0]:
#dataset['Helpfulfactor'] = dataset['Helpfulfactor'].fillna(0)

In [0]:
dataset["review"] = dataset['reviewText'].str.replace('([^\w\s])','')

In [0]:
dataset.head()

   Unnamed: 0  ...                                             review
0           0  ...  We got this GPS for my husband who is an OTR o...
1           1  ...  Im a professional OTR truck driver and I bough...
2           2  ...  Well what can I say  Ive had this unit in my t...
3           3  ...  Not going to write a long review even thought ...
4           4  ...  Ive had mine for a year and heres what we got ...

[5 rows x 14 columns]

In [0]:
dataset = dataset.drop(['asin', 'helpful', 'reviewTime', 'reviewerID', 'reviewerName', 'unixReviewTime'], axis=1)

In [0]:
dataset.head()

   Unnamed: 0  ...                                             review
0           0  ...  We got this GPS for my husband who is an OTR o...
1           1  ...  Im a professional OTR truck driver and I bough...
2           2  ...  Well what can I say  Ive had this unit in my t...
3           3  ...  Not going to write a long review even thought ...
4           4  ...  Ive had mine for a year and heres what we got ...

[5 rows x 8 columns]

In [0]:
dataset["Summary"] = dataset['summary'].str.replace('([^\w\s])','')

In [0]:
dataset = dataset.drop(['summary'], axis=1)

In [0]:
dataset.head()

   Unnamed: 0  ...                                Summary
0           0  ...                         Gotta have GPS
1           1  ...                      Very Disappointed
2           2  ...                         1st impression
3           3  ...                 Great grafics POOR GPS
4           4  ...  Major issues only excuses for support

[5 rows x 8 columns]

In [0]:
dataset['Summary'] = dataset['Summary'].str.lower()
dataset['review'] = dataset['review'].str.lower()

In [0]:
dataset.head()

   Unnamed: 0  ...                                Summary
0           0  ...                         gotta have gps
1           1  ...                      very disappointed
2           2  ...                         1st impression
3           3  ...                 great grafics poor gps
4           4  ...  major issues only excuses for support

[5 rows x 8 columns]

In [0]:
dataset = dataset.drop(['helpfulobtained', 'totalhelpfulScore'], axis=1)

In [0]:
dataset = dataset.drop(['reviewText'], axis=1)

In [0]:
dataset = dataset.dropna()

In [0]:
dataset.head()

   Unnamed: 0  ...                                Summary
1           1  ...                      very disappointed
2           2  ...                         1st impression
3           3  ...                 great grafics poor gps
5           5  ...                hdmi nook adapter cable
9           9  ...  this works great but read the details

[5 rows x 5 columns]

In [0]:
print("No of NaN values in review columns")
dataset['review'].isnull().sum(axis = 0)

No of NaN values in review columns

0

In [0]:
print("No of NaN values in summary columns")
dataset['Summary'].isnull().sum(axis = 0)

No of NaN values in summary columns

0

In [0]:
indexHelpfulfactor = dataset[ (dataset['Helpfulfactor'] > 0.799999	) & (dataset['Helpfulfactor'] < 0.800000) ].index
dataset.drop(indexHelpfulfactor , inplace=True)

In [0]:
dataset.loc[dataset['Helpfulfactor'] >= 0.800000, 'Helpfulfactor'] = 1

In [0]:
dataset.loc[dataset['Helpfulfactor'] <= 0.799999, 'Helpfulfactor'] = 0

In [0]:
dataset['Helpfulfactor'].value_counts()

1.0    450735
0.0    256632
Name: Helpfulfactor, dtype: int64

In [0]:
data = dataset.to_csv('ElectronicsProductReview.csv')
from google.colab import files
files.download('ElectronicsProductReview.csv')

----------------------------------------
Exception happened during processing of request from ('::ffff:127.0.0.1', 43816, 0, 0)
Traceback (most recent call last):
  File "/usr/lib/python3.6/socketserver.py", line 317, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 348, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.6/socketserver.py", line 361, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.6/socketserver.py", line 721, in __init__
    self.handle()
  File "/usr/lib/python3.6/http/server.py", line 418, in handle
    self.handle_one_request()
  File "/usr/lib/python3.6/http/server.py", line 406, in handle_one_request
    method()
  File "/usr/lib/python3.6/http/server.py", line 639, in do_GET
    self.copyfile(f, self.wfile)
  File "/usr/lib/python3.6/http/server.py", line 800, in copyfile
    shutil.copyfileobj(source, outputfile)
  File "/usr/lib/python3.6/shutil.py", line 82, in copyfileobj
    fdst.write(buf)
  File "/usr/lib/python3.6/socketserver.py", line 800, in write
    self._sock.sendall(b)
ConnectionResetError: [Errno 104] Connection reset by peer
----------------------------------------